body {
  font-family: "Syne", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/cyclist.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 70px;
  margin: 30px 0;
}
header h2 {
  font-size: 30px;
}

header a {
  font-weight: ;
  font-size: ;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  background: white;
  text-decoration: none;
  color: black;
  padding: 8px 18px;
  border-radius: 4px;
}

footer {
  color: white;
  background-color: #0d1110;
  background-size: cover;
  padding: 30px;
}

footer h3 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 600;
}

footer p {
  opacity: 0.7;
}

footer li {
  list-style: none;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  margin: 0;
  padding: 0;
}

section {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  header {
    padding: 10px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
}
